/*#fun-container {
	 h2 {
		 color: white;
		 text-align: center;
	}
}
 #fun-facts {
	 display: flex;
	 color: white;
	 div {
		 width: 40%;
		 margin-left: 7%;
		 img {
			 width: 50%;
			 border-radius: 50%;
		}
	}
}
*/