body>div {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.card img{width:400px;
height:400px;}

#projects-footer p{
    color:white;
    font-size:26px;
    text-align:center;
}

#projects-footer p a{
    color:white;
    font-size:26px;
}