
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap');


body>div {
    max-width: 100% !important;
    overflow-x: hidden !important;
}


#projects-footer p{
    color:white;
    font-size:26px;
    text-align:center;
    font-family:'Lora', serif;
}

#projects-footer p a{
    color:white;
    font-size:26px;
    font-family:'Lora', serif;
}
